@font-face {
    src: url(fonts/docktrin.ttf);
    font-family: docktrin;
}
@font-face {
    src: url(fonts/Arrow\ Crafter.otf);
    font-family: arrow;
}
@font-face {
    src: url(fonts/hello\ honey.otf);
    font-family: honey;
}
@font-face {
    src: url(fonts/Bergamot\ Ornaments.ttf);
    font-family: bergamot;
}
body {
    background-image: url(.//images/planks.jpg);
    background-repeat: repeat-y;
    background-attachment: fixed;
}
/* Header */
#header {
    width: 100%;
    height: auto;
    padding-left: 0%;
    padding-right: 0%;
}

#header-box {
  position: relative;
  text-align: center;
  color:white
}
#header-pic {
    width: 100%;
    opacity: 1;
    box-shadow: 0px 0px 20px rgba(221, 139, 124, 0.7);
}
#header-text-container {
    position: absolute;
    height: 35%;
    width: 45%;
    top: 50%;
    left: 50%;
    transform: translate(-55%, -50%);
    padding: 2.5%;
    padding-bottom: 5px;
    /* border: 2.5px solid white; */
    box-shadow: 0px 0px 0px rgb(221, 139, 124);
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.016);
    /* background-color: rgba(221, 139, 124, 0.7); */
}
#header-text {
    font-family: docktrin;
    font-size:8.06vw;
    padding-bottom: 0px;
    text-shadow: 0px 0px 20px rgba(221, 139, 124, 0.7);
    text-align: center;
    /* transform: translatey(-2px); */
}
#dates {
    font-size: 3vw;
}
#arrow {
    font-size: 2.7vw;
    font-family: arrow;
    text-align: center;
}

.headingText {
    font-family: docktrin;
    font-size:7vw;
    padding-top: 20px;
    color: whitesmoke;
    text-shadow: 0px 0px 20px rgba(221, 139, 124, 0.7);
    text-align: center;
    /* transform: translatey(-2px); */
}
.berg {
    font-family: bergamot;
    line-height: 0%;
}
/* Invite Div */
#invite {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    padding-top: 8%;
    padding-bottom: 8%;
    background-color: rgba(0, 0, 0, 0.4);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.9);
}
#invite-left {
    margin-right: 0%;
}
@media all and (min-width: 34px) and (max-width: 576px) and (max-width: 700px) {
    #invite-right {
        transform: translateX(60px);
        margin-right: 0px;
        padding-right: 0px;
    }
    #invite-left {
        transform: translateX(6px);
    }
}
.cursive {
    font-family: honey;
    text-shadow: 0px 0px 20px rgba(65, 105, 225, 0.9);
}
/* Story */
#story {
    padding-bottom: 0vw;
    box-shadow: 0px 0px 20px rgba(221, 139, 124, 0.9);
}
#our-story {
    background-color: rgba(221, 139, 124, 0.6);
    box-shadow: 0px 0px 20px rgba(221, 139, 124, 0.9);
    padding: 15px;
}
#story-box {
    position: relative;
    text-align: center;
    color:white
}
.story-pic {
      width: 70%;
      opacity: 1;
      padding: 5%;
      /* box-shadow: 0px 0px 20px rgb(221, 139, 124); */
}

.story-head {
  font-size: 3vw;
  font-weight: 100;
}

#story-text-box {
  margin-top: 15px;
  font-weight: 100;
  color: royalblue;
  background-color: rgba(245, 245, 245, .95);
  border-radius: 5px;
  font-size: 2vw;
  text-align: center;
  padding: 4%;
}


/* Gallery */
#gallery {
    padding-bottom: 5vw;
    padding-top: 5vw;
    background-color: rgba(0, 0, 0, 0.4);
}
#our-gallery {
    padding: 15px;
}
#gallery-box {
    position: relative;
    text-align: center;
    color:whitesmoke
}
.gallery-head {
    font-size: 4vw;
    font-weight: 100;
}

#gallery-image-box {
    margin-top: 15px;
    color: royalblue;
    background-color: rgba(245, 245, 245, .95);
    box-shadow: 0px 0px 20px rgba(245, 245, 245, .95);
    border-radius: 5px;
    font-size: 2vw;
    text-align: center;
    padding: 4%;
}
.container {
    max-width: 90%;
    margin: 0 auto;
    padding: 40px;
    column-count: 5;
    column-gap: 25px;
    background: rgba(221, 139, 124, 0.9);
    box-shadow: 0px 0px 20px rgba(221, 139, 124, 0.9);
    border-radius: 10px;
    z-index: -20;
}
.gallery-pic {
    width: 100%;
    height: auto;
    display: block;
    margin-bottom: 20px;
    padding: 8px;
    margin-top: 10px;
    background: rgba(65, 105, 225, 0.9);
    box-sizing: border-box;
    z-index: 99;
}
.gallery-pic:hover {
    transform: scale(1.025);
    transition-timing-function: ease;
    transition: 0.3s;
    z-index: 99;

}